 .feedback-usr{position :relative;
              height:223px;width:530px;margin:70px auto;}
            .user{
                 width: 150px;
              height: 140px;
              position: relative;
              float: left;
              top:15px
            }
            .thumbail{
              position :relative;
              border-radius:50%;
              width:93px;height:109px;
              background-image:url("./assets/img/valerie-small.jpg");
              left:25px;z-index:1}
            
              .user a{
                    position: absolute;
          bottom: 0;
          font-size: 13px;
          font-family: 'Roboto-Regular';
                width: 100%;
          line-height: 40px;
          height: 40px;
          padding: 0;
          display: block;
          min-height: auto;
          text-align: center;
          background-color: #fff;
          color: #8c8c8c;
          text-decoration: none;
          border: 1px solid #E2E2E2;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
                font-weight:bold;
              }
            
            .comment-usr{
              position :relative;
               height:160px;
              width:330px;left:200px;
              top:15px;
            }	
            .usr-stars{
                list-style: none;
                position: absolute;
                right: 0;
                bottom: -16px;
              
            }
            .usr-stars li{margin-left:0.3em;height:22px;width:20px;float:left}
            .comment-usr p{
                font-family: 'Roboto-Light';
                font-size: 16px;
                color: #0f233a;
                margin: 0 0 22px;
                max-width: 280px;
                position: absolute;
                text-align: left;
            }
            .usr-comment-name{
                  font-size: 16px;
          color: #5d5a66;
          font-family: 'Roboto-Bold';
            }
            .comment-usr span{
              position :absolute;
              left:10px;
              bottom:2px;
            }
            .comment-usr:before{
              
              content: '';
              width: 57px;
              height: 65px;
              position: absolute;
              left: -69px;
              top: -52px;
              background-image: url(./assets/img/quote@2x.png);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 57px auto;
            }
            .comment-usr:after{
              content: '';
              width: 43px;
              height: 37px;
              position: absolute;
              right: 0;
              bottom: 40px;
              background-image: url(./assets/img/quoteTwo@2x.png);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 43px auto;
            }
            .comment-usr h4{
                position:relative;    left: -149px;
            }
            .y-star{background-image: url("./assets/img/star2.png");background-size: 100% 100%}
            .e-star{background-image: url("./assets/img/star3.png");background-size: 100% 100%}